<li id="post-<%=post._id%>">
    <%=post.content%>
        <%if(post.user._id == locals.user.id){%>
            <a class="delete-post-button" href="/post/delete/<%=post._id%>">X</a>
        <%}%>
        <br>
        <a href="/user/profile/<%=post.user.id%>"><%=post.user.name%></a>
        <p>Comments: </p>
        <div id="comment-list-container">
            <ul>
                <%for(comment of post.comment){%>
                    <%-include('_comment');%>
                <%}%>
            </ul>
        </div>
</li>
<li>
    <form action="/comment/create" id="comment-create-form" method="POST">
        <input type="text" id="content" name="content" placeholder="Add Comment..." required>
        <input type="hidden" name="post" value="<%=post._id%>">
        <button type="submit">Add Comment</button>
    </form>
</li>