<%if(locals.user){%>
    <div class="sidebar">
        <ul style="list-style: none; margin-top: 5px; margin-left: 7px;">
          <li>
            <a href="/user/profile/<%=user.id%>"><%=locals.user.name%></a>
          </li>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <li>
            <button class="btn btn-primary" type="button" onclick="toggleDemo()">Display Mode</button>
          </li>
          <li>
            <a href="/user/sign-out">Sign Out</a>        
          </li>
        </ul>
      </div>
  
      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <div class="row">
          <div class="col-9">
            <br>
            <div >
              <form action="/post/create" id="new-post-form" method="POST" style="margin-left: 5%;">
                  <input type="text" id="content" name="content" placeholder="What is on your mind ?" required >
                  <button type="submit">Create Post</button>
              </form>
              <div id="posts-list-container">
                  <ul>
                      <%for(post of post){%>
                          <%-include('_post');%>
                      <%}%>
                  </ul>
              </div>
          </div>
          </div>
          <div class="col-3" style="height: 100vh;">
            <%-include('_chat-box');%>
          </div>
        </div>
      </div>

    
<%}else{%>
    <!-- <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <%-include('_sign-in');%>
        <%-include('_sign-up');%>
    </div> -->
    <br><br>
    <div class="row">
      <div class="col-5"><br><br><br>
        
      </div>
      <div class="col-7">
        <div class="w-400 mw-full"> 
          <div class="card">
            <h2 class="card-title">
              Sign In
            </h2>
            <p class="text-muted">
              <%-include('_sign-in');%>
              <br>
              <p>Not a member ? <a href="/user/sign-up">Sign Up</a></p>
              <p>OR</p>
              <a href="/user/auth/google">Sign In/Sign Up using Google</a>
            </p>
          </div>
        </div>
      </div>
    </div>

<%}%>
<script src="<%= assetPath('home_post.js')%>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script src="<%= assetPath('chat_engine.js')%>"></script>
<%if(locals.user){%>
<script>
    new ChatEngine('chat', '<%=locals.user.email%>')
</script>
<%}%>