<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        
        <!--jquery is added after noty as noty does not require jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel="stylesheet" href="<%= assetPath('css/layout.css')%>">
        <link rel="stylesheet" href="<%= assetPath('css/header.css')%>">
        <link rel="stylesheet" href="<%= assetPath('css/footer.css')%>">
        <link rel="stylesheet" type="text/css" href="<%= assetPath('css/chat-box.css')%>">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <%-style%>
    </head>
    <body>
        <%-include('_header'); %>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <%-body%>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <%-include('_footer');%>
        <script>
            <%if(flash.success && flash.success.length>0){%>
                new Noty({
                    theme: 'sunset',
                    text: "<%=flash.success%>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 3000,
                    progressBar: false
                }).show();
            <%}%>

            <%if(flash.error && flash.error.length>0){%>
                new Noty({
                    theme: 'sunset',
                    text: "<%=flash.error%>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 3000,
                    progressBar: false
                }).show();
            <%}%>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <%-script%>
    </body>
</html>