

<div class="sidebar">
    <img src="<%=profile_user.avatar%>" alt="Avatar" width="100">
<h4>Name: <%=profile_user.name%></h4>
<%if(locals.user.id == profile_user.id){%>
<form action="/user/update/<%=user.id%>" enctype="multipart/form-data" method="POST">
    <h4>Update Info</h4>
    <input name="email" type="email" placeholder="Your email" value="<%=user.email%>" required><br><br>
    <input name="name" type="text" placeholder="Your name" value="<%=user.name%>" required><br><br>
    <input name="avatar" type="file" placeholder="Your profile picture"><br><br>
    <button type="submit">Update</button>
</form>
<%}%>
    <ul style="list-style: none;">
      <li>
        <button class="btn btn-primary" type="button" onclick="toggleDemo()">Change mode</button>
      </li>
      <li>
        <a href="/user/sign-out">Sign Out</a>          
      </li>
    </ul>
  </div>

  <!-- Content wrapper start -->
  <div class="content-wrapper">
    <div class="row">
      <div>
        <p>Posts made by <%=profile_user.name%></p>
        <%for(post of posts){%>
            <%if(post.user._id == profile_user.id){%>
                <%-include('_post');%>
            <%}%>
        <%}%>
      </div>
    </div>
  </div>