<p>Name: <%=profile_user.name%></p>
<%if(locals.user.id == profile_user.id){%>
<form action="/user/update/<%=user.id%>" method="POST">
    <input name="email" type="email" placeholder="Your email" value="<%=user.email%>" required>
    <input name="name" type="text" placeholder="Your name" value="<%=user.name%>" required>
    <button type="submit">Update</button>
</form>
<%}%>
<p>Posts made by <%=profile_user.name%></p>
<%for(post of posts){%>
    <%if(post.user._id == profile_user.id){%>
        <%-include('_post');%>
    <%}%>
<%}%>